## Data Driver ADOBE

## History-subscription

In [1]:
import pandas as pd
from pymongo import MongoClient
import pymongo
from datetime import datetime, timedelta
import numpy as np

import csv

In [2]:
feh=datetime(2017,1,1,0,0,0)

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["ecdf"]

In [4]:
mycol_cupAsig = mydb["cuponesasignados"]

In [5]:
def cuponesAsignadosdataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
cuponesAsignados = cuponesAsignadosdataframes(mycol_cupAsig.find({},{'_id':1,'fecha_fin':1,'cupon_id':1,'fecha_activacion':1,'user_id_asignado':1,'createdAt':1 ,'producto_id':1,}), 10000)

In [6]:
cuponesAsignados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13179 entries, 0 to 3178
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               13179 non-null  object
 1   createdAt         13179 non-null  datetime64[ns]
 2   user_id_asignado  13179 non-null  object
 3   cupon_id          13179 non-null  object
 4   producto_id       13179 non-null  object
 5   fecha_activacion  13179 non-null  datetime64[ns]
 6   fecha_fin         13179 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(4)
memory usage: 823.7+ KB

In [7]:
cuponesAsignados

,_id,createdAt,user_id_asignado,cupon_id,producto_id,fecha_activacion,fecha_fin
0,586285421c95123eaf3dfb42,2016-12-27 15:14:10.952,5861903a33795733d89a6f56,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-27 15:14:10.947,2017-12-26 00:00:00.000
1,5863dd53986c554aebb4b27a,2016-12-28 15:42:11.379,5863db88986c554aebb4b278,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-28 15:42:11.377,2017-01-27 00:00:00.000
2,586401112159744c3cca3d3f,2016-12-28 18:14:41.791,5863fde9986c554aebb4b27e,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-28 18:14:41.783,2017-01-27 00:00:00.000
3,586454dd70b7325b5207ce12,2016-12-29 00:12:13.650,563857933817661751603ece,58644bbc7064005a9124ca62,58530cb71652e44220a586d1,2016-12-29 00:12:13.623,2016-12-31 00:00:00.000
4,586454dd70b7325b5207ce14,2016-12-29 00:12:13.669,58164229bcb786d7087fc8f2,58644bbc7064005a9124ca62,58530cb71652e44220a586d1,2016-12-29 00:12:13.668,2016-12-31 00:00:00.000
...,...,...,...,...,...,...,...
3174,5e974678943ae378c8fe464a,2020-04-15 17:38:00.519,5e973f661d48bf7843c6671d,5e21c44ad664b5687a8d8f7b,58530cb71652e44220a586d1,2020-04-15 17:38:00.517,2020-07-14 23:59:59.999
3175,5e9892c2977326783df5c84d,2020-04-16 17:15:46.363,5cb24420b92d5c0a343f9518,5e600624d8e8fa176d15bbf4,58530cb71652e44220a586d1,2020-04-16 17:15:46.362,2020-05-16 23:59:59.999
3176,5e98bfbda7730b169fe6eec2,2020-04-16 20:27:41.816,5d4349b2d09c2224a8b46da2,5de01d42041acd7ef3e28a9a,58530cb71652e44220a586d1,2020-04-16 20:27:41.815,2020-07-15 23:59:59.999
3177,5e98caffbc029378e090228d,2020-04-16 21:15:43.087,5e98ca631d48bf7843c667e1,5e21c44ad664b5687a8d8f7b,58530cb71652e44220a586d1,2020-04-16 21:15:43.084,2020-07-15 23:59:59.999
3178,5e9e1406a7730b169fe6eec8,2020-04-20 21:28:38.887,5ad368118c052a0b70da1811,5e2a0e8000da6a68745367b7,58530cb71652e44220a586d1,2020-04-20 21:28:38.883,2021-04-15 23:59:59.999

## Crucemos con pagos

In [8]:
mycol_pagos = mydb["pagos"]
def Pagosdataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
pagos = Pagosdataframes(mycol_pagos.find({},{'_id':1,'monto':1,'acuerdo_cupon':1,'acuerdo_id':1,'moneda':1,'fecha_fin':1,'fecha_pago':1,'pasarela':1,'user_id':1,'createdAt':1 ,'boleta_id':1,'updatedAt':1 }), 10000)

In [9]:
pagos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 736077 entries, 0 to 6076
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   _id            736077 non-null  object
 1   updatedAt      736077 non-null  datetime64[ns]
 2   createdAt      736075 non-null  datetime64[ns]
 3   user_id        736077 non-null  object
 4   pasarela       736077 non-null  object
 5   monto          736077 non-null  object
 6   moneda         736077 non-null  object
 7   fecha_pago     736077 non-null  datetime64[ns]
 8   acuerdo_id     736077 non-null  object
 9   fecha_fin      736077 non-null  datetime64[ns]
 10  acuerdo_cupon  721 non-null     object
 11  boleta_id      485998 non-null  object
dtypes: datetime64[ns](4), object(8)
memory usage: 73.0+ MB

In [10]:
pagos['monto']=pagos['monto'].astype(float)

In [11]:
def dmitrypolo(row):
    if row["moneda"] == 'USD':
        return row['monto']*685
    else:
        return row['monto']

pagos["CLP_PRICE"] = pagos.apply(dmitrypolo, axis=1)

In [12]:
pagos

,_id,updatedAt,createdAt,user_id,pasarela,monto,moneda,fecha_pago,acuerdo_id,fecha_fin,acuerdo_cupon,boleta_id,CLP_PRICE
0,5861c4990ee08c3630cdd9b2,2017-01-24 18:50:19.322,2016-12-27 01:32:09.427,563857913817661751603df1,transbank,7390.00,CLP,2015-10-04 14:22:29.134,5861c4990ee08c3630cdd9b0,2015-11-03 14:23:49.730,NaN,NaN,7390.00
1,5861c4990ee08c3630cdd9c3,2017-01-24 18:50:24.541,2016-12-27 01:32:09.471,563857913817661751603e1e,transbank,7390.00,CLP,2016-11-18 17:34:45.725,5861c4990ee08c3630cdd9b6,2016-12-18 17:34:47.000,NaN,NaN,7390.00
2,5861c4990ee08c3630cdd9c6,2017-01-24 18:50:22.595,2016-12-27 01:32:09.479,563857913817661751603e0d,transbank,7390.00,CLP,2014-10-25 23:51:27.702,5861c4990ee08c3630cdd9b7,2014-11-24 23:52:30.371,NaN,NaN,7390.00
3,5861c4990ee08c3630cdd9c4,2017-01-24 18:50:22.594,2016-12-27 01:32:09.479,563857913817661751603e0d,transbank,7390.00,CLP,2014-12-24 23:51:05.113,5861c4990ee08c3630cdd9b7,2015-01-23 23:52:30.371,NaN,NaN,7390.00
4,5861c4990ee08c3630cdd9c5,2017-01-24 18:50:22.594,2016-12-27 01:32:09.479,563857913817661751603e0d,transbank,7390.00,CLP,2014-11-24 23:51:17.572,5861c4990ee08c3630cdd9b7,2014-12-24 23:52:30.371,NaN,NaN,7390.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6072,5ea6d085e0a51e2c88674ccd,2020-04-27 12:31:01.356,2020-04-27 12:31:01.352,5e5835dc7629f813181aed10,paypal,17.00,USD,2020-04-27 12:27:22.000,5e5837577629f813181aed21,2020-05-27 23:59:59.999,NaN,NaN,11645.00
6073,5ea6d443e0a51e2c88674cd0,2020-04-27 12:46:59.496,2020-04-27 12:46:59.492,58a07cac4320da55a2d1d90b,paypal,15.49,USD,2020-04-27 12:42:02.000,58a07d334320da55a2d1d942,2020-05-27 23:59:59.999,NaN,NaN,10610.65
6074,5ea6db40e0a51e2c88674cd3,2020-04-27 13:16:48.290,2020-04-27 13:16:48.287,563856fb38176617516006e7,paypal,17.00,USD,2020-04-27 13:12:33.000,5bdf2c2539d6040b065590f0,2020-05-28 23:59:59.999,NaN,NaN,11645.00
6075,5ea6f54ee0a51e2c88674d15,2020-04-27 15:07:58.966,2020-04-27 15:07:58.962,57d5c3d9732cf7d8085f606d,paypal,17.00,USD,2020-04-27 14:43:05.000,5e30ae485f2f260deee70dff,2020-05-27 23:59:59.999,NaN,NaN,11645.00
6076,5ea6fba6e0a51e2c88674d18,2020-04-27 15:35:02.204,2020-04-27 15:35:02.201,5d6a7eb316a0aa0c2cd305da,paypal,17.00,USD,2020-04-27 15:06:33.000,5d6a853ec8feea0c66e046ec,2020-06-06 23:59:59.999,NaN,NaN,11645.00

In [13]:
pagos['acuerdo_cupon']=pagos.acuerdo_cupon.astype(str)

In [14]:
cuponesAsignados['id']=cuponesAsignados._id.astype(str)

In [15]:
base_gateway=pagos.merge(cuponesAsignados, right_on='id',left_on='acuerdo_cupon',how='inner', validate='many_to_many')

In [16]:
base_gateway.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717 entries, 0 to 716
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id_x             717 non-null    object
 1   updatedAt         717 non-null    datetime64[ns]
 2   createdAt_x       717 non-null    datetime64[ns]
 3   user_id           717 non-null    object
 4   pasarela          717 non-null    object
 5   monto             717 non-null    float64
 6   moneda            717 non-null    object
 7   fecha_pago        717 non-null    datetime64[ns]
 8   acuerdo_id        717 non-null    object
 9   fecha_fin_x       717 non-null    datetime64[ns]
 10  acuerdo_cupon     717 non-null    object
 11  boleta_id         638 non-null    object
 12  CLP_PRICE         717 non-null    float64
 13  _id_y             717 non-null    object
 14  createdAt_y       717 non-null    datetime64[ns]
 15  user_id_asignado  717 non-null    object
 16  cupon_id          717 non-null    object
 17  producto_id       717 non-null    object
 18  fecha_activacion  717 non-null    datetime64[ns]
 19  fecha_fin_y       717 non-null    datetime64[ns]
 20  id                717 non-null    object
dtypes: datetime64[ns](7), float64(2), object(12)
memory usage: 123.2+ KB

In [17]:
base_gateway['pasarela'].unique()

array(['transbank', 'cupon', 'paypal'], dtype=object)

Ahora encontramos los pagos de los cupones de cortesÃ­a

In [18]:
pagos['acuerdo_id']=pagos.acuerdo_id.astype(str)

In [19]:
cuponesAsignados['cupon_id']=cuponesAsignados.cupon_id.astype(str)

In [20]:
base_cupon=pagos.merge(cuponesAsignados, right_on='cupon_id',left_on='acuerdo_id',how='inner', validate='many_to_many')

In [21]:
base_cupon.count()

_id_x               5603924
updatedAt           5603924
createdAt_x         5603924
user_id             5603924
pasarela            5603924
monto               5603924
moneda              5603924
fecha_pago          5603924
acuerdo_id          5603924
fecha_fin_x         5603924
acuerdo_cupon       5603924
boleta_id            114867
CLP_PRICE           5603924
_id_y               5603924
createdAt_y         5603924
user_id_asignado    5603924
cupon_id            5603924
producto_id         5603924
fecha_activacion    5603924
fecha_fin_y         5603924
id                  5603924
dtype: int64

In [22]:
base_cupon

,_id_x,updatedAt,createdAt_x,user_id,pasarela,monto,moneda,fecha_pago,acuerdo_id,fecha_fin_x,...,boleta_id,CLP_PRICE,_id_y,createdAt_y,user_id_asignado,cupon_id,producto_id,fecha_activacion,fecha_fin_y,id
0,586285421c95123eaf3dfb43,2017-01-25 14:47:35.592,2016-12-27 15:14:10.961,5861903a33795733d89a6f56,cupon,0.0,CLP,2016-12-27 15:14:10.947,58530d611652e44220a586d2,2017-12-26 00:00:00.000,...,NaN,0.0,586285421c95123eaf3dfb42,2016-12-27 15:14:10.952,5861903a33795733d89a6f56,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-27 15:14:10.947,2017-12-26 00:00:00.000,586285421c95123eaf3dfb42
1,586285421c95123eaf3dfb43,2017-01-25 14:47:35.592,2016-12-27 15:14:10.961,5861903a33795733d89a6f56,cupon,0.0,CLP,2016-12-27 15:14:10.947,58530d611652e44220a586d2,2017-12-26 00:00:00.000,...,NaN,0.0,5863dd53986c554aebb4b27a,2016-12-28 15:42:11.379,5863db88986c554aebb4b278,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-28 15:42:11.377,2017-01-27 00:00:00.000,5863dd53986c554aebb4b27a
2,586285421c95123eaf3dfb43,2017-01-25 14:47:35.592,2016-12-27 15:14:10.961,5861903a33795733d89a6f56,cupon,0.0,CLP,2016-12-27 15:14:10.947,58530d611652e44220a586d2,2017-12-26 00:00:00.000,...,NaN,0.0,586401112159744c3cca3d3f,2016-12-28 18:14:41.791,5863fde9986c554aebb4b27e,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-28 18:14:41.783,2017-01-27 00:00:00.000,586401112159744c3cca3d3f
3,586285421c95123eaf3dfb43,2017-01-25 14:47:35.592,2016-12-27 15:14:10.961,5861903a33795733d89a6f56,cupon,0.0,CLP,2016-12-27 15:14:10.947,58530d611652e44220a586d2,2017-12-26 00:00:00.000,...,NaN,0.0,58668bdb3c27ec7219b7a7f7,2016-12-30 16:31:23.027,58668a4e3c27ec7219b792ee,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-30 16:31:23.027,2017-01-29 00:00:00.000,58668bdb3c27ec7219b7a7f7
4,586285421c95123eaf3dfb43,2017-01-25 14:47:35.592,2016-12-27 15:14:10.961,5861903a33795733d89a6f56,cupon,0.0,CLP,2016-12-27 15:14:10.947,58530d611652e44220a586d2,2017-12-26 00:00:00.000,...,NaN,0.0,587384deafcb516f522f36f4,2017-01-09 12:41:02.844,5839defe922867f30859f939,58530d611652e44220a586d2,58530cb71652e44220a586d1,2017-01-09 12:41:02.844,2017-02-08 00:00:00.000,587384deafcb516f522f36f4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5603919,5e67b21a7a11330dc4d2585c,2020-04-10 12:16:21.324,2020-03-10 15:28:26.428,58a77b1118410c0eab42c20d,cupon,131880.0,CLP,2020-03-10 15:28:26.425,5e21c56f00da6a68745367a0,2021-04-04 23:59:59.999,...,NaN,131880.0,5e962efabc029378e0902119,2020-04-14 21:45:30.935,58a87033e058e306007855dd,5e21c56f00da6a68745367a0,58530cb71652e44220a586d1,2020-04-14 21:45:30.933,2021-04-09 23:59:59.999,5e962efabc029378e0902119
5603920,5e962efabc029378e090211a,2020-04-14 21:45:30.937,2020-04-14 21:45:30.937,58a87033e058e306007855dd,cupon,131880.0,CLP,2020-04-14 21:45:30.933,5e21c56f00da6a68745367a0,2021-04-09 23:59:59.999,...,NaN,131880.0,5e67b21a7a11330dc4d2585b,2020-03-10 15:28:26.426,58a77b1118410c0eab42c20d,5e21c56f00da6a68745367a0,58530cb71652e44220a586d1,2020-03-10 15:28:26.425,2021-04-04 23:59:59.999,5e67b21a7a11330dc4d2585b
5603921,5e962efabc029378e090211a,2020-04-14 21:45:30.937,2020-04-14 21:45:30.937,58a87033e058e306007855dd,cupon,131880.0,CLP,2020-04-14 21:45:30.933,5e21c56f00da6a68745367a0,2021-04-09 23:59:59.999,...,NaN,131880.0,5e962efabc029378e0902119,2020-04-14 21:45:30.935,58a87033e058e306007855dd,5e21c56f00da6a68745367a0,58530cb71652e44220a586d1,2020-04-14 21:45:30.933,2021-04-09 23:59:59.999,5e962efabc029378e0902119
5603922,5e680c1c537c301767c4e83a,2020-04-10 12:17:01.118,2020-03-10 21:52:28.935,5e383654d664b5687a8d8fcc,cupon,131880.0,CLP,2020-03-10 21:52:28.926,5e680c08d8e8fa176d15bbfa,2021-04-04 23:59:59.999,...,NaN,131880.0,5e680c1c537c301767c4e839,2020-03-10 21:52:28.929,5e383654d664b5687a8d8fcc,5e680c08d8e8fa176d15bbfa,58530cb71652e44220a586d1,2020-03-10 21:52:28.926,2021-04-04 23:59:59.999,5e680c1c537c301767c4e839
5603923,5e6c0fa3f5b78e0daff093ef,2020-04-10 12:17:04.460,2020-03-13 22:56:35.361,5e6c0e3549003a0da5faab2c,cupon,98910.0,CLP,2020-03-13 22:56:35.336,5e21c52bd664b5687a8d8f7d,2021-01-07 23:59:59.999,...,NaN,98910.0,5e6c0fa3f5b78e0daff093ee,2020-03-13 22:56:35.338,5e6c0e3549003a0da5faab2c,5e21c52bd664b5687a8d8f7d,58530cb71652e44220a586d1,2020-03-13 22:56:35.336,2021-01-07 23:59:59.999,5e6c0fa3f5b78e0daff093ee

In [23]:
consolida = [base_cupon, base_gateway]

In [24]:
cupones_totales=pd.concat(consolida)

In [25]:
cupones_totales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5604641 entries, 0 to 716
Data columns (total 21 columns):
 #   Column            Dtype
---  ------            -----
 0   _id_x             object
 1   updatedAt         datetime64[ns]
 2   createdAt_x       datetime64[ns]
 3   user_id           object
 4   pasarela          object
 5   monto             float64
 6   moneda            object
 7   fecha_pago        datetime64[ns]
 8   acuerdo_id        object
 9   fecha_fin_x       datetime64[ns]
 10  acuerdo_cupon     object
 11  boleta_id         object
 12  CLP_PRICE         float64
 13  _id_y             object
 14  createdAt_y       datetime64[ns]
 15  user_id_asignado  object
 16  cupon_id          object
 17  producto_id       object
 18  fecha_activacion  datetime64[ns]
 19  fecha_fin_y       datetime64[ns]
 20  id                object
dtypes: datetime64[ns](7), float64(2), object(12)
memory usage: 940.7+ MB

In [26]:
cupones_totales.count()

_id_x               5604641
updatedAt           5604641
createdAt_x         5604641
user_id             5604641
pasarela            5604641
monto               5604641
moneda              5604641
fecha_pago          5604641
acuerdo_id          5604641
fecha_fin_x         5604641
acuerdo_cupon       5604641
boleta_id            115505
CLP_PRICE           5604641
_id_y               5604641
createdAt_y         5604641
user_id_asignado    5604641
cupon_id            5604641
producto_id         5604641
fecha_activacion    5604641
fecha_fin_y         5604641
id                  5604641
dtype: int64

In [27]:
cupones_totales['END_DATE']=cupones_totales['fecha_fin_x']

In [28]:
cupones_totales['START_DATE']=cupones_totales['fecha_activacion']

In [29]:
cupones_totales['PAYMENT_DATE']=cupones_totales['fecha_pago']

In [30]:
cupones_totales['COUPON_CODE']=cupones_totales['_id_y']

In [31]:
cupones_totales['GATEWAY']=cupones_totales['pasarela']

In [32]:
cupones_totales.columns

Index(['_id_x', 'updatedAt', 'createdAt_x', 'user_id', 'pasarela', 'monto',
       'moneda', 'fecha_pago', 'acuerdo_id', 'fecha_fin_x', 'acuerdo_cupon',
       'boleta_id', 'CLP_PRICE', '_id_y', 'createdAt_y', 'user_id_asignado',
       'cupon_id', 'producto_id', 'fecha_activacion', 'fecha_fin_y', 'id',
       'END_DATE', 'START_DATE', 'PAYMENT_DATE', 'COUPON_CODE', 'GATEWAY'],
      dtype='object')

In [33]:
cupones_totales=cupones_totales.drop(['_id_x', 'updatedAt', 'createdAt_x', 'pasarela', 'monto',
       'moneda', 'fecha_pago', 'acuerdo_id', 'fecha_fin_x', 'acuerdo_cupon',
       'boleta_id', '_id_y', 'createdAt_y', 'user_id_asignado',
       'cupon_id', 'producto_id', 'fecha_activacion', 'fecha_fin_y', 'id'],axis=1)

In [34]:
cupones_totales

,user_id,CLP_PRICE,END_DATE,START_DATE,PAYMENT_DATE,COUPON_CODE,GATEWAY
0,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2016-12-27 15:14:10.947,2016-12-27 15:14:10.947,586285421c95123eaf3dfb42,cupon
1,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2016-12-28 15:42:11.377,2016-12-27 15:14:10.947,5863dd53986c554aebb4b27a,cupon
2,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2016-12-28 18:14:41.783,2016-12-27 15:14:10.947,586401112159744c3cca3d3f,cupon
3,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2016-12-30 16:31:23.027,2016-12-27 15:14:10.947,58668bdb3c27ec7219b7a7f7,cupon
4,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2017-01-09 12:41:02.844,2016-12-27 15:14:10.947,587384deafcb516f522f36f4,cupon
...,...,...,...,...,...,...,...
712,5b79870b9d27b50c17bef01f,10990.0,2020-10-16 23:59:59.999,2020-03-10 16:44:46.221,2020-02-21 03:08:09.398,5e67c3fef2bf150de08c6065,transbank
713,5e5406bbd8e8fa176d15bbd8,131880.0,2022-03-15 23:59:59.999,2020-03-02 16:33:01.097,2020-02-24 17:24:29.330,5e5d353dff4c640d9321fe8f,cupon
714,5c8183eb1356387412cd46aa,10990.0,2021-05-19 23:59:59.999,2020-03-31 16:14:27.108,2020-03-25 04:02:39.672,5e836c63a7730b169fe6eeb6,transbank
715,581f3268e94abede08c265d3,10990.0,2020-06-24 23:59:59.999,2020-03-26 04:08:06.701,2020-03-26 04:07:25.897,5e7c2aa65bf37f0d8adf1662,cupon
716,5e3d637a9ba6a70dc01175da,10990.0,2021-06-03 23:59:59.999,2020-04-13 20:56:04.628,2020-04-09 23:07:41.979,5e94d1e449fa5c1699ca9b6c,transbank

In [35]:
from operator import attrgetter 
cupones_totales['DURATION']=(cupones_totales.START_DATE.dt.to_period('M') - cupones_totales.END_DATE.dt.to_period('M')).apply(attrgetter('n')).abs()

In [36]:
cupones_totales

,user_id,CLP_PRICE,END_DATE,START_DATE,PAYMENT_DATE,COUPON_CODE,GATEWAY,DURATION
0,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2016-12-27 15:14:10.947,2016-12-27 15:14:10.947,586285421c95123eaf3dfb42,cupon,12
1,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2016-12-28 15:42:11.377,2016-12-27 15:14:10.947,5863dd53986c554aebb4b27a,cupon,12
2,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2016-12-28 18:14:41.783,2016-12-27 15:14:10.947,586401112159744c3cca3d3f,cupon,12
3,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2016-12-30 16:31:23.027,2016-12-27 15:14:10.947,58668bdb3c27ec7219b7a7f7,cupon,12
4,5861903a33795733d89a6f56,0.0,2017-12-26 00:00:00.000,2017-01-09 12:41:02.844,2016-12-27 15:14:10.947,587384deafcb516f522f36f4,cupon,11
...,...,...,...,...,...,...,...,...
712,5b79870b9d27b50c17bef01f,10990.0,2020-10-16 23:59:59.999,2020-03-10 16:44:46.221,2020-02-21 03:08:09.398,5e67c3fef2bf150de08c6065,transbank,7
713,5e5406bbd8e8fa176d15bbd8,131880.0,2022-03-15 23:59:59.999,2020-03-02 16:33:01.097,2020-02-24 17:24:29.330,5e5d353dff4c640d9321fe8f,cupon,24
714,5c8183eb1356387412cd46aa,10990.0,2021-05-19 23:59:59.999,2020-03-31 16:14:27.108,2020-03-25 04:02:39.672,5e836c63a7730b169fe6eeb6,transbank,14
715,581f3268e94abede08c265d3,10990.0,2020-06-24 23:59:59.999,2020-03-26 04:08:06.701,2020-03-26 04:07:25.897,5e7c2aa65bf37f0d8adf1662,cupon,3
716,5e3d637a9ba6a70dc01175da,10990.0,2021-06-03 23:59:59.999,2020-04-13 20:56:04.628,2020-04-09 23:07:41.979,5e94d1e449fa5c1699ca9b6c,transbank,14

In [37]:
cupones_totales['START_DATE']=cupones_totales['START_DATE'] .map(lambda x: str(x)[:10])

In [38]:
cupones_totales['PAYMENT_DATE']=cupones_totales['PAYMENT_DATE'] .map(lambda x: str(x)[:10])

In [39]:
cupones_totales['END_DATE']=cupones_totales['END_DATE'] .map(lambda x: str(x)[:10])

In [41]:
mycol_users = mydb["users"]
def usersdataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
users = usersdataframes(mycol_users.find({},{'_id':1,'_cliente':1}), 10000)

In [42]:
users['user_id']=users._id.astype(str)

In [ ]:
cupones_totales

In [44]:
cupones_totales=cupones_totales.merge(users, on='user_id',how='left')

In [46]:
cupones_totales.count()

user_id         5604641
CLP_PRICE       5604641
END_DATE        5604641
START_DATE      5604641
PAYMENT_DATE    5604641
COUPON_CODE     5604641
GATEWAY         5604641
DURATION        5604641
_id             5604616
_cliente        5604616
dtype: int64

In [47]:
cupones_totales = cupones_totales.dropna(axis=0, subset=['user_id','_id'])

In [48]:
cupones_totales=cupones_totales.rename(columns={ "_cliente":"CUSTOMER_ID"})

In [50]:
cupones_totales = cupones_totales[['CUSTOMER_ID','COUPON_CODE','CLP_PRICE','DURATION','END_DATE','GATEWAY','PAYMENT_DATE','START_DATE']]

In [51]:
import datetime
name='cdf_subHisto_'+datetime.datetime.today().strftime('%Y%m%d_%H%M%S')
path='/home/tecnoboy/'+name+'.csv'
cupones_totales.to_csv(path, index=False, quoting=csv.QUOTE_NONNUMERIC)